.footer {
    text-align: center;
}

    .footer .container p {
        margin: 0px;
        padding: 0;
        font-size: 14px;
        display: inline-block;
    }

    .footer .container span {
        float: right;
    }