a.hover_bottom_menu:hover {
    color: #EA0035 !important;
    border-bottom: solid 0.5px #EA0035 !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 5px 0;
}